


body {
    background-color: #221f1f;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-container {

}
.main-title {
    font-family: 'NetflixSansBold', serif;
    font-weight: normal;
    font-size: 500%;
    color:  #f5f5f1;
    margin: 0;
}
.main-title-line, .preview-title-line {
    position: absolute;
    top: 70%; left: 0; right: 0; bottom: 10%;
    background-color: rgba(240, 56, 107, 0.75);
    border-radius: 5px;
    z-index: -1;
}

.preview-title-line {
    height: 15%;
}
.preview-title-place {
    font-size: 300%;
    margin-bottom: 3%;
    color:  #f5f5f1;
    font-family: 'NetflixSansBold', serif;
    font-weight: normal;
}
.main-title-container, .preview-title-line-container {
    position: relative;
    display: inline-block;
}
.subtitle {
    font-family: 'CircularLight', serif;
    font-size: 150%;
    color:#f5f5f1;
    margin-bottom: 70%;
}
.choice-title, .soon-title, .preview-title, .no-sessions-title {
    text-align: center;
    font-size: 250%;
    margin-bottom: 20%;
    color:  #f5f5f1;
    font-family: 'NetflixSansBold', serif;
    font-weight: normal;
}
.button-container {
    display: flex;
    gap: 10%;
    justify-content: center;
}

.buttons {
    font-family: NetflixSansBold, serif;
    font-weight: normal;
    padding: 10%;
    color: #f5f5f1;
    font-size: 300%;
    text-decoration: none;
    border: rgba(240, 56, 107, 0.75) solid 2px;
    border-radius: 20px;
    background-color: #1c1a1a;
}

@font-face {
    font-family: 'NetflixSansBold';
    src: url("./fonts/NetflixSans-Bold.otf");
}

@font-face {
    font-family: 'CircularLight';
    src: url("./fonts/CircularStd-Light.otf");
}
/*
@media screen and (min-width: 400px) {
    .main-title {
        font-size: 300%;
    }

    .subtitle {
        font-size: 100%;
        margin-bottom: 50%;
    }

    .choice-title, .soon-title, .preview-title, .no-sessions-title {
        font-size: 150%;
        margin-bottom: 5%;
    }
    .preview-title-place {
        font-size: 200%;
    }
    .buttons {
        font-size: 200%;
        padding: 8%;
    }
    .buttons:hover {
        background-color: rgba(240, 56, 107, 0.75);
    }

}
*/
